@model Golf.Tournament.Models.Player

<div class="row">
    <div class="col-md-3">
        @Html.DisplayForModel()
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Address)
    </div>
  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
