@model Golf.Tournament.ViewModels.CourseDetailsViewModel

@{
    ViewBag.Title = "Details";

    ViewBag.ShowHolesWithPopup = true;

}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("Club_Panel", Model.Club)
    </div>
    <div class="col-md-8">
        @Html.Partial("Course_Panel", Model.Course)
    </div>
</div>
