@model Golf.Tournament.Models.Course

@{
    var showEdit = false;

    if (ViewBag.editEnabled != null)
    {
        showEdit = ViewBag.editEnabled;

        ViewBag.editEnabled = false;
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
    </div>

    <div class="panel-body">
        <div class="container">@Html.DisplayFor(model => model.TeeBoxes)</div>
    </div>
    @if (showEdit)
    {
        <div class="panel-footer">
            @Html.ActionLink("Edit", "Edit", "Course", new { clubId = Model.ClubId, id = Model.Id }, new { @class = "btn btn-xs btn-default" })
            @Html.ActionLink("Delete", "Delete", "Course", new { clubId = Model.ClubId, id = Model.Id }, new { @class = "btn btn-xs btn-danger" })
        </div>
    }
</div>