@using Golf.Tournament.Utility
@model Golf.Tournament.Models.HoleCollection
@{
    string teeboxId = "";
    if (ViewBag.TeeboxId != null)
    {
        teeboxId = ViewBag.TeeboxId;
    }
}

<table id="scoreSheetEditorTable_@teeboxId" class="table table-hover table-condensed">
    @{
        var labelModel = new Golf.Tournament.Models.Hole();

        var colCount = Model.Count();
    }
    <colgroup id="scoreSheetEditorTableColumns_@teeboxId">
        <col width="130">
        @for (int i = 0; i < colCount; i++)
        {
            <col width="60" />
        }
    </colgroup>
    

</table>

