@model Golf.Tournament.Models.Player

<div class="panel panel-green">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <div class="huge">
                    @Html.DisplayFor(m => m.Hcp)
                        @if (Model.IsOfficialHcp)
                        {
                            <span class="glyphicon-check glyphicon" style="font-size: 30%; vertical-align:text-top;" title="official"></span>
                        }
                        else
                        {
                            <span class="small glyphicon-remove glyphicon" style="font-size: 30%; vertical-align:text-top;" title="unofficial"></span>
                        }
                </div>
                <div>@Html.DisplayFor(m => m.Fullname)</div>
            </div>
        </div>
    </div>
    <a href="#">
        <div class="panel-footer">

        </div>
    </a>
</div>
