@model Golf.Tournament.Models.TeeboxCollection

@{
    var count = Model.Count;
    int columns = 0;

    if (count > 0)
    {
        columns = Math.Abs( 12 / count );
    }

}
@foreach (var teebox in Model)
{
    <div class="col-md-@columns">
        @Html.DisplayFor(model => teebox)
    </div>
}
