@model Golf.Tournament.Models.Club

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.Address)
    </div>
    @*<div class="panel-footer">
        
    </div>*@
</div>