@model CourseHoleListViewModel

@{
    ViewBag.Title = "Index";
}

@Html.DisplayFor(model => model.Course)

@Html.DisplayFor(model => model.Teebox)


@Html.DisplayFor(model => model.CourseHoles, new { holes = Model.Holes })

<div>
    @Html.ActionLink("Edit", "Edit", "CourseHole", new { clubId = Model.Club.Id, courseId = Model.Course.Id, teeboxId = Model.Teebox.Id })
</div>

@using (Html.BeginScripts("end"))
{
    <script>
        $(function () {

            $("#createHoles").click(function (event) {
                event.preventDefault();
                var url = $("#createHoles").attr("href") + "?holeFrontCount=" + $("#createFrontHolesCount").val() + "&holeBackCount=" + $("#createBackHolesCount").val()
                window.location = url;
            });
        });
    </script>
}
