@model HoleListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />
<p>
    @Html.ActionLink("Create New", "Create", "Hole", new { clubId = Model.Club.Id }, new { })
</p>

@Html.Partial("HoleEditTablePart", Model.Holes)
