@using Golf.Tournament.Utility
@model Boolean?

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", ViewBag.@class);
    }
}

<div class="controls">
    @Html.CheckBox(
            "",
            Model.HasValue && Model.Value,
            htmlAttributes)
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>
