@using Golf.Tournament.Utility
@model Boolean?

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", ViewBag.@class);

    }

    htmlAttributes.Add("data-toggle", "toggle");
}

<div class="controls">
    @Html.CheckBox(
            "",
            Model.HasValue && Model.Value,
            htmlAttributes)
</div>
