@using Golf.Tournament.Utility
@model Golf.Tournament.Models.Color
@{ 
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }

    htmlAttributes.Add("style", string.Format("background-color: {0};", Model.Value));
}

<div class="edit_colorpicker input-group colorpicker-component">
    @Html.TextBoxFor(model => model.Value, htmlAttributes)
    <span class="input-group-addon"><i></i></span>
</div>

