@model Golf.Tournament.Models.CourseHoles

<h3>Front</h3>
<div>
    @Html.EditorFor(model => model.Front, new { teeName = ViewBag.teeName, holeGroup = "Front" })
</div>

<h3>Back</h3>
<div>
    @Html.EditorFor(model => model.Back, new { teeName = ViewBag.teeName, holeGroup = "Back", countOffset = Model.Front.Count })
</div>