@using Golf.Tournament.Utility
@model DateTime?

@{
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model.Value.ToLocalTime();
    }
    else
    {
        dt = DateTime.Now;
    }
}

<div class='input-group date datetimepicker'>
    @Html.TextBox(Html.NameForModel().ToString(), dt.ToString(), new { @class = "form-control"})
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>



