@using Golf.Tournament.Utility
@model float?

<div class="input-group">
    @Html.TextBox(
        "",
        Model == null ? "" : String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:F1}", ViewData.ModelMetadata.Model),
        ViewBag.ClearTextField == true ? new { @class = "form-control clear-text-field input-block-level" } : new { @class = "form-control input-block-level" })
</div>
@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
