@model Golf.Tournament.Models.TeeboxCollection

@for (int i = 0; i < Model.Count(); i++)
{
    ViewBag.teeIndex = i;
    <div class="form-group">
        @Html.EditorFor(model => Model[i])
    </div>
}
