@model Golf.Tournament.ViewModels.TeeboxListViewModel

@{
    ViewBag.Title = "Index";

    var viewData = ViewData;
    viewData.Add("Course", Model.Course);
    viewData.Add("Club", Model.Club);
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("Club_Panel", Model.Club)
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Teeboxes - Course @Model.Course.Name</h2>
            </div>
            <div class="panel-body">
                @Html.Partial("Teeboxes_Table_Edit", Model.Teeboxes, viewData)
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-sm btn-default" })
            </div>
        </div>
    </div>
</div>
