@using Golf.Tournament.Utility
@model Golf.Tournament.ViewModels.TournamentParticipantListViewModel

@{
    ViewBag.Title = "View";

   
}

<h2>@Model.Tournament.Title - Participants</h2>

@Html.DisplayFor(model => model.Tournament)

@Html.Partial("ParticipantTable", Model)

<p>
    @Html.ActionLink("Back to Tournament", "Details", "Tournament", new { id = Model.Tournament.Id }, new { @class = "btn btn-default" })
</p>


